.card-container {
  /* max-width: 100rem !important; */
  padding: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper {
  padding: 5rem 3rem;
  background-color: #576574;
  border-radius: 10px;
}
.title-login {
  color: #079992;

}
.labels {
  color: #079992;
}
.form-group {
  margin: 1rem;
}
.btn {
  margin: 1rem;
  color:#079992;
  border-color:#079992;;

}
.form-control {
  outline: none;
  border: none;
  box-shadow: none;
}
.btn:hover {
  background-color: #079992;
  color: #2c3e50;
}

.line_login {
  color: #079992;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; 
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; 
}